<section class="mw-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4"> Supplier Regestration </h1>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form [formGroup]="supplierRegistrationForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                  <label class="form-label"> Name </label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required"> Name is required</div>
                  </div>
              </div>
              <div class="mb-3">
                <label class="form-label"> Address </label>
                <textarea  type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                </textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required"> Name is required</div>
              </div>
            </div>


            <div class="row align-items-center pt-0 pb-1">
              <div class="col-md-2 ps-5">
              </div>
              <div class="col-md-9 pe-2">
                <div class="d-flex justify-space-between">
                <div class="col-sm-4">
                  <label class="form-label"> City </label>
                  <select id="city" formControlName="city" class="form-control p-1">
                  <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
                </select>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required"> City is required</div>
              </div>
              </div>
              <div class="col-sm-4">
                <label class="form-label"> State </label>
                <select formControlName="state" class="form-control p-1" >
                  <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
                </select>
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                  <div *ngIf="f.state.errors.required"> State is required</div>
              </div>
              </div>
              <div class="col-sm-4">
                <label class="form-label"> Country </label>
                <select formControlName="country" class="form-control p-1">
                  <option  *ngFor="let country of countryList" [value]="country">{{country}}</option>
                  </select>
                  <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                    <div *ngIf="f.country.errors.required"> Country is required</div>
                </div>
                </div>
                </div>
              </div>
            </div>
              <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Mobile Number</label>
                  <input type="tel" formControlName="mobNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobNumber.errors }" />
                  <div *ngIf="submitted && f.mobNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.mobNumber.errors">Mobile Number only 10 digit</div>
                </div>
                </div>
              <div class="mb-3">
                  <label class="form-label">Credit Account Number </label>
                  <input type="text" formControlName="creditAccNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.creditAccNumber.errors }" />
                  <div *ngIf="submitted && f.creditAccNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.creditAccNumber.errors.required"> Credit Account Number is required</div>
                  </div>
                </div>
              <div class="mb-3">
                  <label class="form-label">Credit Information </label>
                  <input type="text" formControlName="creditInfo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.creditInfo.errors }" />
                  <div *ngIf="submitted && f.creditInfo.errors" class="invalid-feedback">
                    <div *ngIf="f.creditInfo.errors.required"> Credit Information is required</div>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div>
                  <button [disabled]="loading" class="btn btn-primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                      Register
                  </button>
                  <a routerLink="../login" class="btn btn-link">Cancel</a>
              </div>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
  </div>
</div> -->
