  <div class="container">
		<!-- <app-logout></app-logout> -->
    <h1>Welcome to Supplier Finance System</h1>
		<p>Click on the button to Navigate to Supplier Finance:</p>
		<div class="row">
    <div class="col-md-4">
      <a routerLink="/login" class="btn btn-primary btn-lg">Login</a>
    </div>
    <div class="col-md-4">
      <a routerLink="/client-registration" class="btn btn-success btn-lg">Client Registration</a>
    </div>
    <div class="col-md-4">
      <a routerLink="/supplier-registration" class="btn btn-info btn-lg">Supplier Registration</a>
    </div>
		</div>
  </div>
  <router-outlet></router-outlet>
