<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
      <form [formGroup]="clientRegistrationForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label class="form-label"> Name </label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required"> Name is required</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label"> Address </label>
            <textarea  type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
            </textarea>
        </div>
            <div class="form-group">
              <label class="form-label"> City </label>
            <select formControlName="city" class="form-control">
              <option  *ngFor="let city of cityList">{{city}}</option>
          </select>
          <label class="form-label"> State </label>
            <select formControlName="state" class="form-control">
              <option  *ngFor="let state of stateList">{{state}}</option>
          </select>
          <label class="form-label"> Country </label>
          <select formControlName="country" class="form-control">
            <option  *ngFor="let country of countryList">{{country}}</option>
        </select>
            </div>
          <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input type="tel" formControlName="mobNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobNumber.errors }" />
              <div *ngIf="submitted && f.mobNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobNumber.errors">Mobile Number only 10 digit</div>
            </div>
            </div>
          <div class="mb-3">
              <label class="form-label">Loan Account Number</label>
              <input type="text" formControlName="loanAccNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loanAccNumber.errors }" />
              <div *ngIf="submitted && f.loanAccNumber.errors" class="invalid-feedback">
              <div *ngIf="f.loanAccNumber.errors.required">Loan Account Number is required</div>
            </div>
          <div class="mb-3">
              <label class="form-label">Loan Information</label>
              <input type="text" formControlName="loanInfo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loanInfo.errors }" />
              <div *ngIf="submitted && f.loanInfo.errors" class="invalid-feedback">
              <div *ngIf="f.loanInfo.errors.required">Loan Information is required</div>
            </div>
          </div>
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Register
              </button>
              <a routerLink="../login" class="btn btn-link">Cancel</a>
          </div>
          </div>
      </form>
  </div>
</div>
